<!DOCTYPE html > <html lang="en" >


body {
  background-color: black; 

}

header {
  background-color: rgb(75, 15, 15);
}

h1 {
  color: black;
  font-family: Verdana, sans-serif;
  font-size: 40px;
  text-align: center;
}

h2 {
  color: white;
  font-family: Verdana, sans-serif;
  font-size: 30px;
  text-align: center;
}

p {
  color: rgb(175, 175, 175);
  font-family: Verdana, sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  max-width: 800px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 40px;
  align-self: baseline;
}

div {
  background-color: rgb(40, 40, 40);
  width: auto;
  max-width: 900px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
}

img {
  max-width: 650px;
  padding-right: 30px;
  padding-left: 30px;
  align-self: baseline;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.rightalign {
  display:block;
  margin-left: 50%; 
  display: flex;
}

.leftalign {
  display:block;
  margin-right: 50%; 
  display: flex;
}